.contacts {
  min-height: 100vh;
  display: flex;

  flex-direction: column;
  justify-content: center;
  align-items: center;

  .usersBlock {
    display: flex;
    flex-wrap: wrap;
    @media (max-width: 918px) {
      flex-direction: column;
      align-items: center;
    }
    .user {
      display: flex;
      flex-direction: column;
      width: 300px;
      min-height: 300px;
      background: aqua;
      margin: 15px;
      padding: 15px;
      position: relative;
    }
  }
}