html,
body {
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
}

/*#_next {*/
/*  min-height: 100vh;*/
/*  display: grid;*/
/*  grid-auto-rows: auto 1fr auto;*/
/*}*/

main {
    padding: 20px;
    min-height: 1500px;
    margin: 0 auto;
}

header, footer {
    min-height: 80px;
}

* {
    box-sizing: border-box;
}

.btn {
    background: black;
    color: white;
    padding: 5px;
    border-radius: 3px;
}

.btn:hover {
    background: #3e3737;
}

.linkBlock {
    bottom: 30px;
    left: 10px;
    width: 200px;
    background: #3b83e0;
    position: absolute;
}

.link {
    font-size: 16px;
    font-weight: bold;
    float: none;
    position: absolute;

}

.link:hover {
    color: #0e4b92;
    font-size: 18px;
    font-weight: bold;
    text-shadow: white 1px 1px;
}
