.container {
  width: 100%;
  background: #3b83e0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  font-size: 21px;

  .links {
    display: flex;
    min-width: 250px;
    justify-content: space-between;
    margin: 15px;

    .active {
      color: #f700ff;
    }
  }
}
