.block {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.socials {
  display: grid;
  grid-template-columns: repeat(4, 100px);

  .social {
    width: 300px;

    .iconStyle {
      font-size: 40px;
    }
  }
}